.btn {
  font-size: .9rem;
  border-radius: .25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.btn-primary {
  background-color: $blue;
  border: 1px solid $blue;
  transition: .3s all;
}
.btn-primary:hover {
  background-color: $blue;
  transition: .3s all;
}
.btn-secondary {
  background-color: $white;
  color: $blue;
  transition: .3s opacity;
}
.btn-secondary:hover {
  opacity: .8;
  transition: .3s opacity;
}
.btn-wide {
  width: 100%;
}
.btn-lg {
  font-size: 1.1rem;
}
