.card {
  display: block;
  margin-bottom: 1rem;
  margin-left: -1px;
  padding: 4rem;
  text-align: center;
  border: 1px solid $light-purple;
}
.card-link {
  transition: .3s all;
}
.card h2 {
  margin-top: 0;
  font-size: 2rem;
}
.card .btn {
  margin-top: 2rem;
}
.card .tech-logo {
  max-width: 60px;
  max-height: 75px;
  margin-left: .5rem;
  margin-right: .5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-link:hover {
  background-color: $purple;
  color: $white;
  transition: .3s all;
}
.card-link:hover h2,
.card-link:hover .meta {
  color: $white;
  transition: .3s all;
}
.card-link:hover .btn {
  background-color: $purple;
  border: 1px solid $white;
}
