.jumbotron {
  padding-top: 5rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: $blue;
  color: $white;
}
.jumbotron-text {
  margin-bottom: 2rem;
}
.jumbotron .lead {
  font-size: 2.25rem;
}
