img {
  width: 100%;
  height: auto;
}
.center-block {
  float: none;
}
section {
  border-top: 1px solid $grey;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
section h2:first-child {
  margin-top: 0;
}
.section-secondary {
  background-color: $grey;
}
