img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: .25rem;
}
.gemoji {
  width: auto;
}
.center-block {
  float: none;
}
section {
  border-top: 1px solid $grey;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
section h2:first-child {
  margin-top: 0;
}
.section-highlight {
  background-color: $blue;
  color: $white;
}
.section-highlight h1,
.section-highlight h2,
.section-highlight h3,
.section-highlight a {
  color: $white;
}
.footer .gemoji {
  width: 20px;
}
