.navbar-default {
  border-radius: 0;
  margin-bottom: 0;
  background-color: $white;
  border-top: 0;
  border-bottom: 0;
}
.navbar-default .navbar-nav li {
  margin-top: .5rem;
}
.navbar-brand {
  width: 200px;
}
.logo {
  width: 100%;
}
.wave {
  stroke: $blue;
}
.text {
  fill: $blue;
}
