.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default {
  background-color: $purple;
  border: none;
  height: 70px;
}
.navbar-brand img {
  width: 100%;
  max-width: 150px;
}
.navbar li {
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a {
  color: #FFF;
}
.navbar-default .navbar-nav .navbar-btn {
  color: $brand-color;
  font-weight: bold;
}
