.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default {
  background-color: $purple;
  border: none;
  height: 75px;
}
.navbar-brand img {
  width: 100%;
}
.navbar li {
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a {
  color: #FFF;
}
