.profile {
  display: table;
  position: relative;
}
.profile .caption {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: rgba(61, 65, 105, .6);
  transition: .3s opacity;
}
.profile .caption span {
  position: absolute;
  padding: .5rem;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-weight: bold;
}
.profile:hover .caption {
  opacity: 1;
  transition: .3s opacity;
}
