.sponsor {
  background: #fff;
  border-radius: 5px;
  display: block;
  height: 175px;
  margin-top: 30px;
  line-height: 145px;
  padding: 15px 25px;
  text-align: center;
  vertical-align: middle;
}
