html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  color: $blue;
  font-size: 1rem;
  font-weight: bold;
}
h1 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 300;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.2rem;
}
a {
  color: $blue;
  transition: .3s color;
  font-weight: bold;
}
a:hover {
  color: $blue;
  text-decoration: none;
  transition: .3s color;
}
ul {
  padding-left: 20px;
}
ol {
  padding-left: 30px;
}
ul li,
ol li {
  margin-top: 0px;
  margin-bottom: .75rem;
}
.basic-list {
  list-style: none;
  padding-left: 0;
}
blockquote {
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: .9rem;
  line-height: 1.35;
  border-left: none;
}
hr {
  width: 50%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #E7E7E7;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.lead {
  font-size: 1.5rem;
}
.meta {
  color: $blue;
}
.social {
  margin-top: 2rem;
}
.social .fa {
  font-size: 1.25rem;
  margin-left: 5px;
  margin-right: 5px;
}
