@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

$white: #fff;
$purple: #4E557B;
$light-purple: #9BADCD;
$brand-color: #3D4169;

/*
 * Layout
 */

.center-block {
  float: none;
}
section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-inverse {
  background-color: $purple;
  color: $white;
}

/*
 * Grid system
 */

.col-half {
  width: 50%;
  float: left;
}

/*
 * Typography
 */

html {
  font-size: 15px;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.35;
  color: $purple;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  color: $brand-color;
  font-size: 1rem;
  font-weight: bold;
}
h1 {
  margin-top: 0px;
  font-size: 1.5rem;
  font-weight: 300;
}
h2 {
  font-size: 1.5rem;
}
a {
  color: $purple;
  transition: .3s color;
}
a:hover {
  color: $light-purple;
  text-decoration: none;
  transition: .3s color;
}
ul {
  padding-left: 20px;
}
ol {
  padding-left: 30px;
}
ul li,
ol li {
  margin-top: 0px;
  margin-bottom: .75rem;
}
blockquote {
  padding-left: .75rem;
  padding-right: .75rem;
  font-size: .9rem;
  line-height: 1.35;
  border-left: none;
}
hr {
  width: 50%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid #E7E7E7;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.meta {
  margin-top: 0;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
}
.section-inverse h1,
.section-inverse h2,
.section-inverse h3,
.section-inverse h4,
.section-inverse h5 {
  color: $white;
}

/*
 * Buttons
 */

.btn {
  border-radius: .25rem;
}
.btn em {
  text-decoration: underline;
}
.btn-primary {
  background-color: $brand-color;
  border: 0;
  transition: .3s all;
}
.btn-primary:hover {
  background-color: $purple;
  transition: .3s all;
}
.btn-secondary {
  background-color: $white;
  color: $brand-color;
  transition: .3s opacity;
}
.btn-secondary:hover {
  opacity: .8;
  transition: .3s opacity;
}
.btn-ghost {
  border: 1px solid $brand-color;
  color: $brand-color;
  background-color: rgba(255,255,255,.2);
}
.btn-wide {
  width: 100%;
}

/*
 * Navbar
 */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar li {
  margin-bottom: 0;
}

/*
 * Jumbotron
 */

.jumbotron {
  padding-top: 2rem;
  background-color: $brand-color;
  background: url(../images/background.png);
  background-size: cover;
  background-position: 50% 10%;
  color: #FFF;
}
.jumbotron-header .pull-left,
.jumbotron-header .pull-right {
  width: 25%;
}
.jumbotron-header .center {
  text-align: center;
  float: left;
  width: 50%;
}
.jumbotron-brand {
  max-width: 170px;
}
.jumbotron-text {
  padding-top: 9rem;
  text-align: center;
  padding-left: 8rem;
  padding-right: 8rem;
}
.jumbotron-text .lead {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 100;
}
.jumbotron-text h1 {
  font-size: 3rem;
  margin-top: 6.5rem;
  margin-bottom: 1rem;
}

/*
 * Card
 */

.card {
  margin-bottom: 1rem;
  margin-left: -1px;
  padding: 4rem;
  text-align: center;
  border: 1px solid $light-purple;
}
.card h2 {
  margin-top: 0;
}

/*
 * Footer
 */

.footer {
  padding: 1rem 0;
  font-size: 0.875rem;
  text-align: center;
}
