h1 Is this for me?

p This event is for anyone who wants to try out programming as a potential career path. We don't assume any previous knowledge of programming, but we strongly encourage a deep interest in technology and learning new things.

p The only other requirement is that you are seriously considering programming as a <em>full-time</em> career.

hr
