h1 Who can I learn from?

p We're pulling together some of the area’s most experienced and enthusiastic web developers and designers for this event. They'll be there all day to give support and guidance and to answer any questions you have.

hr
