h1 Why are you doing this?

p Web development has provided amazing opportunities for the team putting on this event. We want to give back to the community and help expose people to some of the same opportunities by making web development more accessible and providing opportunities to learn and acquire the skills necessary to flourish in this underserved industry.

hr
